name: Deploy to Server

on:
  push:
    branches:
      - main  # 当推送到 main 分支时触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        timeout: 30s
        script: |
          cd /var/www/unitrans-web-system
          git stash
          git pull origin main
          source venv/bin/activate
          pip install -r requirements.txt --upgrade
          sudo systemctl restart unitrans-web
          sudo systemctl restart unitrans-celery
          
          # 检查服务状态
          sudo systemctl status unitrans-web --no-pager
          sudo systemctl status unitrans-celery --no-pager